.MainTasks {
  width: 740px;
  height: 450px;
  margin: 0 auto;
  padding-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  border-top: 1px solid var(--grey100);
}

.voidTasks {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.750rem;
  gap: 0.5rem;
}
.listTaskes {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;

}