.itemTask {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  background: var(--grey500);
  border-radius: 8px;
  font-size: 0.875rem;
  text-transform: capitalize;
  overflow: hidden;
  gap: 1rem;
}

.itemTask > div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.spanTask {
  display: blockaX;
  letter-spacing: 1px;
  word-break: break-all;
}

.trashTask{
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 1rem;
  align-items: center;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue400);
  border-radius: 50%;
  padding: 0.5rem;
}

input[type="radio"]:checked {
  background: var(--blue400) url("../assets/check.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="radio"]:checked + .spanTask {
  text-decoration: line-through;
  font-style: italic;
}

@media(max-width:500px) {
  .spanTask {
    max-width: 20ch;
  }
}