*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --white:#fff;
  --blue200:#7472f3;
  --blue400:#5755d2;
  --blue600:#0A0D29;
  --blue800:#09031C;
  --grey100:#808080;
  --grey500:#353434;
  --red400:#ff2c2c;
}

:focus{
  outline: transparent ;
  box-shadow: 0 0 0 1px  var(--blue400);
}

body{
  background: var(--blue600);
  color: var(--white);
  --webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive, sans-serif;
}

ul,li,a {
  list-style: none;
  text-decoration: none;
}